
html,body{
  background: white;
}

header{
  .lt_header_lt{
    float: left;
    color: white;
  }
}


.lt_view{
  height: 100%;
  background-color: #fff;
}
.lt_form{
  padding: 10px;
  form{
    &:after{
      display: none;
    }
    .mui-input-row{
      margin: 10px 0;
      input{
        border: 1px solid #ccc;
      }
      
    }
    .mui-button-row{
      button{
        width: 100%;
      }
    }
  }
}



